:root {
  --color-surface-accent-1: var(--color-primary);
  --color-surface-accent-2: var(--color-status-info-3);
  --color-surface-accent-3: var(--color-status-warning-3);
  --color-surface-accent-4: var(--color-status-danger-3);
  --color-surface-base-1: var(--color-neutral-white);
  --color-surface-base-2: var(--color-neutral-100);
  --color-surface-base-3: var(--color-neutral-200);
  --color-surface-base-4: var(--color-neutral-800);
  --color-surface-base-5: var(--color-neutral-900);
  --color-status-info-1: #e1f3ff;
  --color-status-info-2: #33a8ff;
  --color-status-info-3: #0075db;
  --color-status-info-4: #00519a;
  --color-status-info-5: #001e60;
  --color-status-warning-1: #fef9e9;
  --color-status-warning-2: #ffe395;
  --color-status-warning-3: #ffc72c;
  --color-status-warning-4: #e3ad20;
  --color-status-warning-5: #c69214;
  --color-status-danger-1: #ffcccc;
  --color-status-danger-2: #ff3333;
  --color-status-danger-3: #eb0000;
  --color-status-danger-4: #ca1d26;
  --color-status-danger-5: #ba1b23;
  --color-status-success-1: #e5f9eb;
  --color-status-success-2: #98e8af;
  --color-status-success-3: #24a148;
  --color-status-success-4: #197032;
  --color-status-success-5: #0e401c;
  --color-primary-100: #daedea;
  --color-primary-200: #b6dcd5;
  --color-primary-300: #91cac0;
  --color-primary-400: #6db9ab;
  --color-primary-500: #48a796;
  --color-primary-600: #249681;
  --color-primary-700: #00856c;
  --color-primary-800: #00725c;
  --color-primary-900: #005f4d;
  --color-primary-1000: #004c3d;
  --color-neutral-100: #efefef;
  --color-neutral-200: #dadada;
  --color-neutral-300: #b3b3b3;
  --color-neutral-400: #999999;
  --color-neutral-450: #979797;
  --color-neutral-500: #717171;
  --color-neutral-600: #5b6162;
  --color-neutral-700: #3f4444;
  --color-neutral-800: #2d2926;
  --color-neutral-900: #110f0f;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;
  --color-text-default: var(--color-neutral-800);
  --color-text-default-inverse: var(--color-neutral-white);
  --color-text-subtle: var(--color-neutral-700);
  --color-text-subtle-inverse: var(--color-neutral-200);
  --font-family-1: Montserrat;
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 32px;
  --font-size-8: 40px;
  --font-size-9: 60px;
  --font-size-10: 80px;
  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;
  --font-weight-4: 700;
  --font-line-height-1: 16px;
  --font-line-height-2: 16px;
  --font-line-height-3: 16px;
  --font-line-height-4: 24px;
  --font-line-height-5: 24px;
  --font-line-height-6: 32px;
  --font-line-height-7: 40px;
  --font-line-height-8: 48px;
  --font-line-height-9: 72px;
  --font-line-height-10: 80px;
  --font-paragraph-spacing-none: 0;
  --font-paragraph-spacing-1: 8;
  --font-paragraph-spacing-2: 16;
  --font-paragraph-spacing-3: 24;
  --font-paragraph-spacing-4: 32;
  --font-paragraph-spacing-5: 40;
  --font-letter-spacing-normal: 0;
  --font-letter-spacing-increased: 0.93px;

  --shadow-1: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  --radius-1: 2px;
  --radius-2: 3px;
  --radius-3: 6px;
  --radius-circle: 50%;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
}

:root {
  --color-app-primary: var(--color-primary-700);
  --color-app-secondary: var(--purple-700);

  --color-app-background: var(--orange-200);
  --color-app-text-1: var(--color-text-default);
  --color-app-text-2: var(--color-text-subtle);
  --color-app-text-1i: var(--color-text-default-inverse);
  --color-app-text-2i: var(--color-text-subtle-inverse);
}
